<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>  
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand mx-auto" href="{{ path('home') }}">Site de critiques</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
        </nav> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav">            
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Créer une critique d'un film</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Créer une critique d'un livre</a>
                    </li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="rechercher un article">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Admin</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> 
                    </li>   
                </ul>
            </div>
        </nav>
        <div class="container"> {% block body %}{% endblock %} </div>
    </body>
</html>
