{% extends "base.html.twig" %}
{% block body %}

<h1>{{ book.title }}</h1>
<div>
    <img src="http://placehold.it/350x200" border="0" ALIGN="Left">
    <p> &nbsp; Auteur : {{ book.author }}</p>
    <p> &nbsp; Type : {{ book.type }}</p>
    <p> &nbsp; Date de sortie : {{ book.releaseDate | date('d/m/y')}}</p>
    <p> &nbsp; Nationnalité : {{ book.citizenship }}</p>
    <p> &nbsp; Note : {{ note }}/5</p>
    <p> &nbsp;</p>
</div>


<h3>Résumer : </h3>
<p> {{ book.cover }}</p>

<hr>

{% for critique in book.critiques %}
    <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header"> 
        {{ critique.critic.pseudo }}
    </div>
    <div class="card-body">
        <p class="card-text"> {{ critique.critique }}</p>
    </div>
    </div>
{% endfor %}



{% endblock %}
