{% extends "base.html.twig" %}
{% block body %}

<h1>Page de critique des films</h1>

<section class="articles">
    {% for film in films %}
      <article>
        <h3> {{ film.title }}</h3>  
        <div>
          <img src="http://placehold.it/200x100">
        </div>
        <p>Auteur : {{ film.author }}</p>
        <p>Type : {{ film.type }}</p>
        <p>Date de sortie : {{ film.releaseDate | date('d/m/y')}}</p>
        <p>Nationnalité : {{ film.citizenship }}</p>
        <a href="{{ path('show_critique_film', {'filmID':film.id}) }}">Lire la suite</a>
        <hr>
      </article>
    {% endfor %}
  </tbody>
</section>


{% endblock %}
